*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height:100vh;
  background-color: aquamarine;
  display: flex ;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}